<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shri Chatushrungi Devi Temple Trust</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="header">
    <div class="container nav">
        <a href="/" class="logo">
            🛕 Shri Chatushrungi Devi Temple Trust
            <span>श्री चतुश्रुंगी देवी मंदिर</span>
        </a>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/history">History</a>
            <a href="/timings">Timings</a>
            <a href="/aarti">Aarti</a>
            <a href="/events">Events</a>
            <a href="/gallery">Gallery</a>
            <a href="/donation">Donation</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>

{% block content %}{% endblock %}

<footer class="footer">
    <p>© 2026 Shri Chatushrungi Devi Temple Trust</p>
    <p>Contact: 8851916981</p>
</footer>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>