{% extends "base.html" %}

{% block content %}

<section class="section">
    <h1>Contact Us</h1>

    <div class="contact-box">
        <p><b>Temple Name:</b> Shri Chatushrungi Devi Temple Trust</p>
        <p><b>Phone:</b> <a href="tel:8851916982">8851916982</a></p>
        <p><b>WhatsApp:</b> <a href="https://wa.me/918851916982">Message on WhatsApp</a></p>
        <p><b>Email:</b> info@shrichatushrungidevitemple.in</p>
        <p><b>Address:</b> Pune, Maharashtra, India</p>
    </div>

    <iframe
        src="https://www.google.com/maps?q=Shri%20Chatushrungi%20Devi%20Temple%20Pune&output=embed"
        width="100%"
        height="350"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
    </iframe>
</section>

{% endblock %}