{% extends "base.html" %}

{% block content %}

<section class="page-header">
    <h1>Temple Gallery</h1>
    <p>मंदिर फोटो गैलरी</p>
</section>

<section class="section gallery">
    <img src="{{ url_for('static', filename='images/gallery1.jpg') }}" alt="Temple Photo">
    <img src="{{ url_for('static', filename='images/gallery2.jpg') }}" alt="Temple Photo">
    <img src="{{ url_for('static', filename='images/gallery3.jpg') }}" alt="Temple Photo">
    <img src="{{ url_for('static', filename='images/gallery4.jpg') }}" alt="Temple Photo">
    <img src="{{ url_for('static', filename='images/devi.jpg') }}" alt="Devi Image">
    <img src="{{ url_for('static', filename='images/cover.jpg') }}" alt="Temple Cover">
</section>

{% endblock %}